window{
    background-color: rgba(97, 28, 9, 0.98);
}
#main_menu_page{
    background-color: rgba(68, 77, 177, 0.716);
}
headerbar{
    background:rgba(157, 92, 35, 0);
    color:aliceblue;
}
button{
    background: rgba(30, 115, 9, 0.92);
}
button.iconbutton{
    background: rgba(255, 255, 255, 0);
}
button.main_menu_buttons_box{
    background: #2a6651c5;
    color:aliceblue;
}
button:hover{
    background:#25c52d6c;
}
button:active{
    background: rgba(138, 138, 38, 0.346);
}
label{
    color:rgb(244, 209, 209);
}
entry{
    background: rgba(18, 208, 255, 0.275);
}
columnview{
    background-color: rgba(255, 255, 0, 0);
    color:rgb(209, 118, 0);
}
listview{
    background-color: rgba(240, 248, 255, 0);
}
scrollbar{
    color:yellow;
}