window{
    background-color: rgba(97, 28, 9, 0.98);
}

#main_menu_page{
    background-color: rgba(68, 77, 177, 0.716);
}
headerbar{
    background:rgba(157, 92, 35, 0);
    color:aliceblue;
    border:none;
}
button {
    border-radius:50px;
    border:none;
    background: rgba(30, 115, 9, 0.92);
}
button.iconbutton{
    background: rgba(255, 255, 255, 0);
}
button.settings_categories_box{
    border-radius: 5px;
    margin:5px;
}
button.main_menu_buttons_box{
    padding-left:100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom:10px;
    font-size:xx-large;
    background: #2a6651c5;
    color:aliceblue;
}
button:hover{
    background:#25c52d6c;
}
button:active{
    background: rgba(138, 138, 38, 0.346);
}
label{
    color:rgb(244, 209, 209);
    font-size: xx-large;
}
entry{
    background: rgba(18, 208, 255, 0.275);
    border:None;
    border-radius: 10px;
    padding-right:150px;
}
columnview{
    background-color: rgba(139, 69, 19, 0);
    color:rgb(209, 118, 0);
}
listview{
    background-color: rgba(240, 248, 255, 0);
}