headerbar{
    border:none;
}
button {
    border-radius:50px;
    border:none;
}
button.settings_categories_box{
    border-radius: 5px;
    margin:5px;
}
button.main_menu_buttons_box{
    padding-left:50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom:10px;
}
label{
    font-size: xx-large;
}
entry{
    border:none;
    border-radius: 10px;
}